<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8E6DC1629FCB4C900BC7410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E6DC2C29FCB4CA00BC7410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E6DC3629FCB4CA00BC7410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
